<div class="container">
    <h1>My personal home page</h1>
    <p>To find out more about me click on the 'About me' link below. Otherwise follow links in top navigation. </p>
    <%= link_to "About me", about_path %>
</div>